@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Ubuntu";
  src: url("../public/fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../public/fonts/SourceSansPro-Regular.woff2") format("woff2");
  font-weight: 400;
}

:root {
  --primary: #1e1e1e;
  --secondary: #fd4556;
}
*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-track {
  background: var(--primary);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

.home-img {
  background-image: url("../_assets/img/bg-home.png");
}

.weapons-bg {
  background-image: url("../_assets/img/bg-weapons.png");
}
